@use 'sass:math';
@import '../../styles/_utils';

$font-color: rgba(0, 0, 0, 0.85);
$arrow-size: 12px;

.cmp-popover {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 2px;
  box-shadow: 0 0 9px 3px #eee;
  // 计算正方形对角线长度的一半
  margin: math.div(math.sqrt(math.pow(get-value($arrow-size), 2) * 2), 2) * 1px;

  &-title {
    min-width: 177px;
    min-height: 32px;
    border-bottom: 1px solid #f0f0f0;
    padding: 5px 16px 4px;
    color: $font-color;
    font-weight: 500;
  }

  &-content {
    padding: 12px 16px;
    color: $font-color;
  }

  &-arrow {
    position: absolute;
    left: 50%;
    // 计算正方形边长的一半
    top: math.div(get-value($arrow-size), 2) * -1px;
    width: 0;
    height: 0;
    transform: translateX(-50%) rotate(45deg);
    border-width: math.div($arrow-size, 2);
    border-style: solid;
    border-color: #fff transparent transparent #fff;
    box-shadow: -3px -3px 9px #ddd;
  }
}
