@import '../../styles/_utils.scss';

.cmp-input {
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.85);
  background-color: rgba(44, 66, 118, 0.06);

  ::placeholder {
    color: #aaa;
  }

  &-center {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 0 12px;
    background-color: transparent;

    @include border-reset;

    &:focus {
      border: 1px solid #98ace9;
    }
  }
}
