@import '../../styles/_utils.scss';

.cmp-todoitem {
  position: relative;
  height: 36px;
  line-height: 36px;

  @include border-radius4;

  &:hover {
    background-color: #f4f7fd;
  }

  &-checkbtn {
    position: absolute;
    top: 0;
    left: 13px;
    z-index: 1;
    color: rgba(0, 0, 0, 0.24);
    cursor: pointer;
  }

  &-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 40px;
    background-color: transparent;

    @include border-reset;
    @include border-radius4;

    &:focus {
      background-color: #e9edfb;
    }
  }
}
