*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 14px;
}

body,
#root {
  height: 100%;
  font-size: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

//          32px 24px   20pxpx  16px 14px     12px
$fontSizes: 2em, 1.5em, 1.25em, 1em, 0.875em, 0.85em;

@each $size in $fontSizes {
  $i: index($fontSizes, $size);

  h#{$i} {
    font-size: $size;
  }
}
