.blayout {
  display: flex;
  flex-direction: row;
  height: 100%;

  &-left {
    width: 260px;
    min-width: 260px;
    padding: 0 12px;
    background-color: rgba(44, 66, 118, 0.06);
    border-right: 1px solid rgba(0, 0, 0, 0.07);
  }

  &-center {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &-nav {
    padding: 10px 0;

    &,
    &-item {
      margin: 0;
      list-style: none;
    }

    &-item {
      margin: 7px 0;
    }
  }
}
